@use '../utils' as *;

/* pulse btn */

.pulse-btn{
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	background-color: var(--tp-theme-1);
	@include border-radius(50%);
	color: var(--tp-common-white);
	animation: pulse 2s infinite;
	&:hover{
		background-color: var(--tp-common-white);
		color: var(--tp-theme-1);
	}
	& i{
		padding-left: 2px;
	}
}

/* hambur btn */
.hamurger-btn{
	width: 30px;
	height: 30px;
	position: relative;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: 0;
	& span{
		display: inline-block;
		width: 100%;
		background: var(--tp-common-black);
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		opacity: 1;
		left: 0;
		z-index: 1;
		&:nth-child(1){
			top: 0;
		}
		&:nth-child(2){
			top: 10px;
		}
		&:nth-child(3){
			top: 20px;
		}
	}
}

/* theme btn */
.tp-btn-simelar{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	background:#226172;
	height: 48px;
	line-height: 49px;
	text-align: center;
	padding: 0 38px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	& i{
		padding-left: 5px;
	}
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-common-black);
	}
	&:focus{
		color: var(--tp-common-white);
	}
}
.tp-btn-border{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-black);
	background: none;
	height: 58px;
	line-height: 58px;
	text-align: center;
	padding: 0 38px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: 1px solid #ececec;
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-common-black);
		border: 1px solid #222;
	}
	& i{
		padding-left: 5px;
	}
}
.tp-btn{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	background: var(--tp-theme-1);
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding: 0 38px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	border-radius: 10px;
	& i{
		padding-left: 5px;
	}
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-common-black);
	}
	&:focus{
		color: var(--tp-common-white);
	}
}
.tp-white-btn{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-black);
	background: #f6f6f6;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding: 0 38px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	& i{
		padding-left: 5px;
	}
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-common-black);
	}
	&:focus{
		color: var(--tp-common-white);
	}
}
.tp-btn-380-two{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	background: var(--tp-theme-1);
	height: 60px;
	width: 380px;
	line-height: 60px;
	text-align: center;
	padding: 0 38px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	& i{
		padding-left: 5px;
	}
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-common-black);
	}
	&:focus{
		color: var(--tp-common-white);
	}
}
.tp-btn-2{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	background: var(--tp-theme-1);
	height: 48px;
	line-height: 48px;
	text-align: center;
	padding: 0 38px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	& i{
		padding-left: 5px;
	}
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-common-black);
	}
	&:focus{
		color: var(--tp-common-white);
	}
}
.tp-black-btn{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	background: #171717;
	height: 48px;
	line-height: 49px;
	text-align: center;
	padding: 0 38px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	& i{
		padding-left: 5px;
	}
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-theme-1);
	}
	&:focus{
		color: var(--tp-common-white);
	}
}
.tp-black-btn-2{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	background: #171717;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding: 0 38px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	& i{
		padding-left: 5px;
	}
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-theme-1);
	}
	&:focus{
		color: var(--tp-common-white);
	}
}
.tp-btn-380{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	background: #171717;
	height: 60px;
	width: 380px;
	line-height: 60px;
	text-align: center;
	padding: 0 38px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	& i{
		padding-left: 5px;
	}
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-theme-1);
	}
	&:focus{
		color: var(--tp-common-white);
	}
}
.tp-btn-white{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-black);
	background: var(--tp-common-white);
	height: 60    px;
	line-height: 60px;
	text-align: center;
	padding: 0 38px;
	position: relative;
	border-radius: 10px;
	z-index: 1;
	overflow: hidden;
	& i{
		padding-left: 5px;
	}
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-common-black);
	}
	&:focus{
		color: var(--tp-common-white);
	}

}



/* link btn style 1 */

.link-btn{
	position: relative;
	display: inline-block;
	font-size: 18px;
	color: var(--tp-text-3);
	background: transparent;
	border: 1px solid var(--tp-border-2);
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 48px;
	padding-right: 25px;
	transition: all ease .2s;
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	overflow: hidden;
	& i{
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		transition: all ease .2s;
		-webkit-transition: all ease .2s;
		-moz-transition: all ease .2s;
		-ms-transition: all ease .2s;
		-o-transition: all ease .2s;
		&:last-child{
			left: 0%;
			visibility: hidden;
			opacity: 0;
		}
	}
	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-theme-1);
		border-color: var(--tp-theme-1);
		& i{
			left: 100%;
			visibility: hidden;
			opacity: 0;
			&:last-child{
				left: 50%;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

/* link btn style 2 */

.link-btn-2{
	position: relative;
	font-size: 16px;
	color: var(--tp-text-1);
	font-weight: 500;
	padding-right: 21px;
	display: inline-block;
	& i{
		font-size: 14px;
		position: absolute;
		top: 12px;
		@include transform(translateY(-50%));
		transition: all ease .2s;
		-webkit-transition: all ease .2s;
		-moz-transition: all ease .2s;
		-ms-transition: all ease .2s;
		-o-transition: all ease .2s;
		&:first-child{
			right: 10%;
			visibility: hidden;
			opacity: 0;
		}
		&:last-child{
			right: 0;
		}
	}
	&:hover{
		color: var(--tp-theme-1);
		& i{
			&:first-child{
				right: 0;
				visibility: visible;
				opacity: 1;
			}
			&:last-child{
				right: -10%;
				visibility: hidden;
				opacity: 0;
			}
		}
	}
	&.link-prev{
		padding-right: 0;
		padding-left: 21px;
		& i{
			&:first-child{
				left: 10%;
				right: auto;
			}
			&:last-child{
				left: 0;
				right: auto;
			}
		}
		&:hover{
			& i{
				&:first-child{
					left: 0%;
					right: auto;
				}
				&:last-child{
					left: -10%;
					right: auto;
				}
			}
		}
	}
}