$colors: (
    common: (
        white: #ffffff,
        black: #212121,
    ),
    heading: (
        primary: #212121,
    ),
    grey: (
        1:#f7f7f7,
        2:#F5F6F8,

    ),
    text: (
        body:#777777,
        p:#777777,
    ),
    theme: (
        // 1: #3c8599,
        // 1:#4cb648,
        // 1:#f46522,
        1:#014a81,

    ),
    border: (
        1: #000,
    )
);
// #f46522
//#014a81
//#efefef